* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.app {
  background: #151515;
  padding: 25px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 0 30px rgba(0,0,0,0.6);
  text-align: center;
}

h1 {
  font-size: 22px;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 13px;
  color: #aaa;
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}

button {
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  background: #00ff9c;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #00cc7a;
}

.qr-box {
  width: 100%;
  height: 180px;
  background: #0c0c0c;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholder {
  font-size: 14px;
  color: #555;
}
